body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left:20px;

  background: #7f8c8d;
  position:relative;
  min-height:100vh;
  margin:0;
  padding:0;
  height:100%;
}

main{
  padding:10px;
  padding-bottom:60px;
}

.coutryList{
  color:white;
  list-style-type: none;
  font-size: 18px;

}

.countryLi{
  padding:4px;
}

.btn{
  padding:3px 10px;
  border:solid 1px white;
  border-radius: 8px;
  background: #ddd;
  font-size: 15px;
  margin:2px;

}

.btn:hover{
  background:coral;
}

.note, .addNoteForm{
  color:white;
  list-style-type: none; 
  background-color:#666;
  width:50%;
  margin:auto;
  border-radius:8px;
  padding:10px;
  margin-top:15px;
  text-align: center;
  margin: 0 0 30px 0;
  clear:both,
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width:88.5%;
  margin:auto;
  box-sizing: border-box;
  display:none;
}

.addNoteForm{

  background:#aaa;
  padding:30px;
  margin: 0 0 50px 10px;
  /*text-align: center;
  width:25%;
  height:auto;
  border: solid 1px white;
  border-radius:8px;
  margin: 0 0 30px 0;*/

}

.addNoteForm [type="text"]{
  padding:10px;
}

.contentWrap{
  padding-bottom: 2.5rem;
}